/* You can add global styles to this file, and also import other style files */
* { box-sizing: border-box; }
html, body { margin: 0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, 'Helvetica Neue', 'Noto Sans', Arial, 'Apple Color Emoji', 'Segoe UI Emoji'; background: #fafafa; color: #111; }
img { max-width: 100%; height: auto; }
a { color: inherit; }